# Compiled output
/dist
/tmp

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea
.project
.classpath

# Miscellaneous
.sass-cache
.angular

# System files
.DS_Store
Thumbs.db
