<style>
  h1 {
    font-size: 2rem;
  }

  p {
    margin: 0;
  }

  main {
    width: 100%;
    min-height: 100%;
    font-size: 1rem;
  }
</style>

<main class="main">
  <h1>Hello, {{ title }}</h1>

  <!--
  <ul>
    @for (message of messages; track $index; let idx = $index) {
    <li>Item {{idx}} {{ message }}</li>
    } @empty {
    <li>There are no items.</li>
    }
  </ul>
  -->
  <div>
    <app-add-message (add)="onAdd($event)"></app-add-message>
    <ul>
      @for (message of messages; track $index; let idx = $index) {
      <app-list-message [index]="idx" [message]="message" (remove)="onRemove(idx)"></app-list-message>
      } @empty {
      <li>There are no items.</li>
      }
    </ul>
  </div>

</main>

<router-outlet />
